* {
  box-sizing: border-box;
}

.btnz {
  padding: 10px;
  border: 1px solid black;
  font-size: 0.5em;
  border-radius: 15px;
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.btnz:hover {
  /* cursor: pointer; */
  opacity: 0.8;
}

.box {
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: rgb(43, 40, 40);
  color: wheat;
}

.box:hover {
  background-color: orangered;
}

.bigText {
  font-size: 1.5em;
  padding: 5px;
  font-weight: bold;
  text-transform: capitalize;
}

.output {
  text-align: center;
}

.myTitle {
  text-transform: capitalize;
  font-size: 3em;
}

.info {
  font-size: 1.5em;
}

.pages {
  width: 80%;
  text-align: center;
  margin: auto;
}

.pages button {
  font-size: 1.2em;
  margin: 5px;
  padding: 10px;
  color: rgb(43, 40, 40);
  border-radius: 20px;
}
